<section id="photos" class="{{ section.background_style }}">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      {% for proj in section.features %}
      <div class="col-lg-4 col-sm-6">
        <a class="photos-box" href="assets/img/{{ proj.room }}/fullsize/{{ proj.icon }}">
          <img class="img-fluid" src="assets/img/{{ proj.room }}/thumbnails/{{ proj.icon }}" alt="">
          <div class="photos-box-caption">
            <div class="feature-category text-white-50">
              {{ proj.title }}
            </div>
            <div class="feature-name">
              {{ proj.text }}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>